@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1598256059455'); /* IE9 */
  src: url('iconfont.eot?t=1598256059455#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAjAAAsAAAAAD2QAAAhwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCEAgqQXI0cATYCJAMkCxQABCAFhG0HgQYbxgxRlHFSCtmPg9wcdSGFMlN5mgtdLDzMma94oPZL3+6HQ3CJYrBsSUVHEQh545MUdIVj4apEFYFrx9//j5v+fREIKdR0UlNK51IVJkYKCU1HE05IYXOYS5ib0n3XDtmVt4lnAh0edBdU4O5F0F470x7ghzUoqvz/+82Kdw6h6MUbvbyPiiZLNCqZkAhJ55qQUCahsVB2lusW82pyUjUiI363xwkoG5UJ7eUWVwMlxTUBGq55KwNUwCrNoAZFQ55waRqKFgCpGGditwA8s34+/IU2gQJRlgA/9ei0vwV6/Uhs2oS7m90w1LCDpz43rotIMAekV/3LRNMDgDa8abhyOeEEaIrfxPmR6EvxGXyjfd6msKZNzc0RitIL2lBKBvjgapDJFVtIR6nC9Z+XA9dWgXyfK/IjUYnI+JEiIueHQZqtGw3SVdEpYBZOOi+IiPwME5Hyc1OXAigZl7SBcRA/ACT7wPV7ljoVjCZcxCWRuj/SqtbgkIjQEHV4SABsZUhksDrQoNFFoyjUOjw6MJoe4Dfbi3CPoiwJHbhkeQM9SwlsyetdGjZo6bJ6PzQbVAMazUJqzwhwL/XTzfZ6lfBaZdNQ5PGyj7p06ZJQ05ItDkADOnAWQp5lwKP4wTVtmJRG5+p7ViYInSxZ5VrUGhzz+tLaOW4JjHrcmjj51DdTPMAqK419YbvyxiS9GJvmbGrtof6EHqiM0Cbo1CY1wsrKd/bAPJI/gFil1esbLxrGtMLieSo9a890lr7WhtPtFU9sRaYQFG7SX1GqB+iOdaxwCJFys9szWjCIeZXNJw4xw7Q8H5hHy80LqPAdavaPZNwiJUFxW2jc501NMsne7EdLtoqHTLOLsTu/lmSNfaTZP1f6zObzJguNAJ14fNOI9LLyhoDyw5qnySxXmWSAWG0SdCptltkfr671SXimcIjV9xD+eehmyyLERf3rZdekyGpDAOKzw9ucifaJ4hV28qbRFetVViRoW2y+oXd1kn6PTjE+vd7UP1sS4WWSOEF+PdY+i2Q4HjdZpj8hG5TKif8WOqPqG6YS8IflSAEMxdIEaxSFNQrGAPkk0v8S59dMVmvQ7z9BiMiYlvMbPSPyKB7XjYkuzjGlGbGnfgOCdaj4flgueRAZThMgC0sGk5DbDVWvUt8iG9ScQ6hYPlj2KKYrfRgd0IgA/lo2Ag4s41ljAPhHNDs89MxRvDzevVuwSBkaeWzA6pY1qg10oQAUbj0AerPyETAahd1djOyS9SfCOinXwm8Q21RPo6j4sd7SzgIdBIplYXAARUuejTYUUd6ER/vHs3Y6x14fxMP8IwcU7ohLNNSb1C3Nv2rbhyspN/7usv8mBIvKowzIkD6P3qYdYFBvk/6+4YuBmzj+SMm71fqe+2iHEiWX/GX/X+rmHT2ovkF9l74/NyGa1SVjc2N8rqdxvRJLsPExPmuT8xlyu6j/2m8s0y2S9iQ9qlxzTD19QvS590uD+lJ9e+wwaaG5QhrK2werKEucAVMHVgykV70YGTMXK+6VGNdk9cWMx0rYRp661unbFaXvkPgK50SxRHRW8FLGrp2r4pN08G9wAqmxpLfRwVHCWKrRV37NFSsXbjR+FbNunlXsNnfiN8l9Mxb394w+209wc7vGfGUMN3Lz1uGdug+q6dd2++hiLTEhMchw0Hdw6i2xhft0MH552i43cIYu4efBEDVvGpl2uEulJWKuhmxjVp7EAeOdDYi3ph70GQ4GJU4girWjt/drm1ZAl4eVB7Tz6xhZnf+VMHqPuHD4XwP7RXb0axcQVk6Xt7J75vD46cfUayofJe2RFpXpjPMbaPfjnAlTd5rMtl9ySaVDifvoRLZnhHRN39GuqPLTfLx62otAVUU1paozBZKN7WieATS8ubq4Y/82ga5EV6DbcKOVyJmPIvr021PAXCU0auKqQIj07WfBq1ldHQXkxc6mjII2zBGhATbiz5/hGxBhdn2yoTkfWu5U6TJLyvSDJTJLdCh/xIh8rUKXTUJgJAV/s0n7rMJQQT82HYt2RA+cVJiaP+4BTczY985Dkr3gPeZR7X3nd9EX5sSilLaB0Q76mIl+TH6t3zOT2R9uMhI2Prt1K1odfbdMu6L1oncz/IWWFRX3dWvNzOqWQqsdrRaps0tuO4OdR3bvPPWjQL+mXbUuo0X48dROpbewwLmLk9iRvoNw0q8XCD/u2nlkNxvC0j7raXjZkdNOGxUSXN2pOjh4hqLlajd//HiOfBPRJeJ1xLmPCRD/Kh4SrmL/x+zY/42/dIl4Q57bfC78DUwcADB8jI/GMwBIXmN/geFE/A9ctrI78F24MSmwh20CVTP3uonFWe7FRAjKDkLr/H+j7jAioNtvFPxjSnzil5xEjE6aWKMocpUdctzpombuJBZ/FGArpa8hFFbCRrSqo0opmCAQ0hFlEWSIwbY39ep7ZNmRTd/zICoYgUTRGD4lz0GmYg1yRZtQNivv6ooOCS6kGmDGVAZB016I6j5Couk2AgTk15Dp+w5yzYBD2XEIuWXFRODpvhLLyKwltnZ0LG8WBU46ZNpurGStjTZG8issupGVHHwiNkdvCBfyWIGV6jjD4bS2kWUulpPEhthc9jTWZhNj7ZJYz5plfZ0s27tkZ3NJZ+rNYgPQdklYDNngt4hVa7Q4z0wk4CbL6MjhK7GsGtkwpIy+b3EjlsSBnz1WDj0DAZ+nFUh9+9Lu4GTVhoxuTqxKS0QNjj735GbZRFYUy568qh7LTKZXVyJt10U2juKoWn37+oZtPQVlfD+lgCEcEYhEKqRGFNIgGhqnNt6eVSdK/BhRkBmbLuh2stJqncXYKIeZdzhEyaGSRHl53qc217GjeEZUcYxQ18hTFtEl2ETGQrXr1Gi3LQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1598256059455') format('woff'),
  url('iconfont.ttf?t=1598256059455') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1598256059455#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flip-horizontal:before {
  content: "\e696";
}

.icon-flip-vertical:before {
  content: "\e697";
}

.icon-scissors:before {
  content: "\e679";
}

.icon-rotate:before {
  content: "\e715";
}

.icon-chexiao:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e627";
}

.icon-download:before {
  content: "\e7a4";
}

.icon-48upload:before {
  content: "\e630";
}

