:root {
  --borderColor: #5e5e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  background: #8e8e8e;
}

.ml10 {
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

header input[type="file"] {
  display: none;
  padding: 10px;
  color: #fff;
  background: #1890ff;
  border-radius: 6px;
}

header button {
  padding: 8px 16px;
  color: #fff;
  border: 2px solid #1890ff;
  background: #1890ff;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 300;
  transition: all .2s;
}

header button.btn-disabled {
  color: #fff !important;
  border-color: #8f8f8f !important;
  background: #8f8f8f !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

header button:hover {
  color: #1890ff;
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 3px 12px 0px #1890ff;
}

#canvas {
  display: block;
  background: #e8e8e8;
}

#canvas-wrapper {
  display: inline-block;
  margin: 20px auto;
  position: relative;
  border: 2px solid snow;
}

#imgClip {
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border: 1px solid var(--borderColor);
  background: rgba(255, 255, 255, 0.3);
}

.imgClip-resize {
  width: 8px;
  height: 8px;
  position: absolute;
  background: #fff;
  border: 1px solid var(--borderColor);
}
.imgClip-resize-left-top {
  left: -4px;
  top: -4px;
  cursor: se-resize;
}
.imgClip-resize-top {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
}
.imgClip-resize-right-top {
  top: -4px;
  right: -4px;
  cursor: sw-resize;
}
.imgClip-resize-left {
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  cursor: e-resize;
}
.imgClip-resize-right {
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  cursor: e-resize;
}
.imgClip-resize-left-bottom {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.imgClip-resize-bottom {
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
}
.imgClip-resize-right-bottom {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}

.grabbing {
  cursor: grabbing;
}

#preview {
  margin: 20px 50px;
  vertical-align: top;
  background: cornsilk;
  border: 2px dashed orange;
  border-radius: 6px;
  overflow: hidden;
}
